/* --- Style Sheet --- */

* {
	margin: 0;
	padding: 0;
}
header {
	width: 100%;
	height: 100px;
	background-color: #F04E23;
}
.logo {
	width: 108px;
	height: 65px;
	margin-top: 15px;
	padding-right: 10px;
	float: right;
}
#main {
	width: 100%;
	height: 100%;
	margin-top: 20px;
}
#map {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: #333333;
}
#map-container {
	width: 90%;
	height: 250px;
	margin: 0 auto;
	background-color: #333333;
}
.font-family {
	font-family: arial;
	font-weight: bold;
	font-size: 1em;
	color: #333333;
}
.italic {
	font-style: italic;
}
.float-right {
	float: right;
}
form {
	margin: 20px;
}
label {
	float: left;
}
input {
	padding: 0.5em;
	border: solid 1px #C8C8C8;
	border-radius: 5px;
	float: right;
}
span{
	width: 400px;
	height: 10px;
	font-family: arial;
	font-size: .5em;
	display: inline-block;
	padding-left: 200px;
}
.check-box {
	margin-right: 20px;
}
.button {
	padding: 0.5em;
	color: white;
	background-color: #F04E23;
	border : solid 1px #C8C8C8;
	border-radius: 5px;
}
select {
	width: 80px;
	height: 27px;
	float: right;
	border : solid 1px #C8C8C8;
	border-radius: 5px;
}
.prices {
	width: 50px;
}
